{% extends "blog/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .hero-container {
            position: relative;
            margin: 0;
            padding: 0;
            height: 87vh; 
            width: 98vw; 
            background-image: url('/media/about_page.png');
            background-size: cover;
            background-position: center;
            color: #ffffff; 
        }
    </style>
</head>
<body>
    <div class="hero-container">
    </div>
</body>
</html>

{% endblock content %}